<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Каталог</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div id="logo"></div>
        <div id="store_name">Cool Vinyl Store</div>
        <div id="empty_pad"></div>
        <ul class="main_menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
    <hr>
<h1>Каталог</h1>
<div class="catalog_mainField">
    <div class="catalog_unitWrap">
        <div class="catalog_unitName">
            Placebo - MTV Unplugged
        </div>
        <div class="catalog_unitImg">
            <img class="catalog_img" src="/static/img/placebo_unplug.jpg" alt="placebo mtv unplugged">
        </div>
        <div class="catalog_unitShortDescr">
            Жанр: Альтернативный Рок
        </div>
        <div class="catalog_unitPrice">
             $25
        </div>
        <a href="placebo_unplug" class="catalog_itemLink">Подробнее</a>
    </div>
    <div class="catalog_unitWrap">
        <div class="catalog_unitName">
            The Rolling Stones - Voodoo Lounge
        </div>
        <div class="catalog_unitImg">
            <img class="catalog_img" src="/static/img/rollingstones_voodoolounge.jpg" alt="the rolling stones voodoo lounge">
        </div>
        <div class="catalog_unitShortDescr">
            Жанр: Классический Рок
        </div>
        <div class="catalog_unitPrice">
            $30
        </div>
        <a href=# class="catalog_itemLink">Подробнее</a>
    </div>
    <div class="catalog_unitWrap">
        <div class="catalog_unitName">
            AC/DC - High Voltage
        </div>
        <div class="catalog_unitImg">
            <img class="catalog_img" src="/static/img/acdc_highvoltage.jpg" alt="ac dc high voltage">
        </div>
        <div class="catalog_unitShortDescr">
            Жанр: Тяжёлый Рок
        </div>
        <div class="catalog_unitPrice">
            $35
        </div>
        <a href=# class="catalog_itemLink">Подробнее</a>
    </div>
    <div class="catalog_unitWrap">
        <div class="catalog_unitName">
            AC/DC - High Voltage
        </div>
        <div class="catalog_unitImg">
            <img class="catalog_img" src="/static/img/acdc_highvoltage.jpg" alt="ac dc high voltage">
        </div>
        <div class="catalog_unitShortDescr">
            Жанр: Тяжёлый Рок
        </div>
        <div class="catalog_unitPrice">
            $35
        </div>
        <a href=# class="catalog_itemLink">Подробнее</a>
    </div>
        <div class="catalog_unitWrap">
        <div class="catalog_unitName">
            Placebo - MTV Unplugged
        </div>
        <div class="catalog_unitImg">
            <img class="catalog_img" src="/static/img/placebo_unplug.jpg" alt="placebo mtv unplugged">
        </div>
        <div class="catalog_unitShortDescr">
            Жанр: Альтернативный Рок
        </div>
        <div class="catalog_unitPrice">
            $25
        </div>
        <a href="/placebo_unplug" class="catalog_itemLink">Подробнее</a>
    </div>
    <div class="catalog_unitWrap">
        <div class="catalog_unitName">
            The Rolling Stones - Voodoo Lounge
        </div>
        <div class="catalog_unitImg">
            <img class="catalog_img" src="/static/img/rollingstones_voodoolounge.jpg" alt="the rolling stones voodoo lounge">
        </div>
        <div class="catalog_unitShortDescr">
            Жанр: Классический Рок
        </div>
        <div class="catalog_unitPrice">
            $30
        </div>
        <a href=# class="catalog_itemLink">Подробнее</a>
    </div>
</div>
<hr>
<div class="footer">
    &copy;Все права защищены
</div>
</div>
</body>
</html>