<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Cool Vinil Store</title>
</head>
<body>
<div class="container">
    <div class="header">
        <div id="logo"></div>
        <div id="store_name">Cool Vinyl Store</div>
        <div id="empty_pad"></div>
        <ul class="main_menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
    <hr>
    <h1>Главная</h1>
    <p>*** заказ виниловых дисков ***</p>
    <small><i><q>I believe that vinyl will outlast CDs</q></i> &copy;Conor Oberst </small>
    <hr>
    <div class="footer">
        &copy;Все права защищены
    </div>
</div>
</body>
</html>