<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Placebo - MTV Unplugged</title>
</head>
<body class="item">
<div class="container">
    <div class="header">
        <div id="logo"></div>
        <div id="store_name">Cool Vinyl Store</div>
        <div id="empty_pad"></div>
        <ul class="main_menu">
            <li><a href="/">Главная</a></li>
            <li><a href="/catalog">Каталог</a></li>
            <li><a href="/contacts">Контакты</a></li>
        </ul>
    </div>
    <hr>
    <u><h1>Placebo - MTV Unplugged</h1></u>
    <div class="buy_div">
        <div class="item_img_wrap">
            <a href="/static/img/placebo_unplug_large.jpg" target="_blank"><img class="item_img" src="/static/img/placebo_unplug.jpg" alt="placebo mtv unplugged cover" border="2px"></a>
        </div>
        <div class="short_descr_wrap">
            <h2 class="item_header_short item_header" ">Аннотация</h2>
            <p class="short_descr">On the 19th of August, at MTV Studios in London, Placebo played to a small room of lucky fans for what is the restart of MTV’s incredibly popular Unplugged series.</p>
        </div>
        <a href="#" class="buy_button">Купить</a>
    </div>
    <h2 class="item_header item_header_features">Характеристики</h2>
    <table class="item_table">
        <tbody>
            <tr>
                <td>Наименование исполнителя:</td>
                <td>Placebo</td>
                <td rowspan="3">rowspan 3</td>
                <td>test cell</td>
            </tr>
            <tr>
                <td>Альбом:</td>
                <td>MTV Unplugged</td>
                <td>test cell</td>
            </tr>
            <tr>
                <td>Стоимость:</td>
                <td>$15</td>
                <td>test cell</td>
            </tr>
            <tr>
                <td>Список композиций:</td>
                <td>
                    <ol>
                        <li>Jackie</li>
                        <li>For What It's Worth</li>
                        <li>36 Degrees</li>
                        <li>Because I Want To</li>
                        <li>Every You Every Me</li>
                        <li>Song To Say Goodbye</li>
                        <li>Meds</li>
                        <li>Protect Me From What I Want</li>
                        <li>Loud Like Love</li>
                        <li>Too Many Friends</li>
                        <li>Post Blue</li>
                        <li>Slave To The Wage</li>
                        <li>Without You I'm Nothing</li>
                        <li>Hold On To Me</li>
                        <li>Bosco</li>
                        <li>Where Is My Mind?</li>
                        <li>The Bitter End</li>
                    </ol>
                </td>
                <td colspan="2">colspan 2</td>
            </tr>
            <tr>
                <td>test cell</td>
                <td>test cell</td>
                <td>test cell</td>
                <td>test cell</td>
            </tr>
        </tbody>
    </table>
    <h2 class="item_header">Биография исполнителя</h2>
    <div id="long_descr">
        <p>Placebo are an alternative rock band, formed in London, England in 1994 by singer-guitarist <u>Brian Molko</u> and guitarist-bassist Stefan Olsdal. The band were soon joined by drummer Robert Schultzberg, who left in 1996 due to conflicts with Molko and was replaced the same year by Steve Hewitt.</p>
        <p>Placebo gained exposure in 1997, after releasing <i>"Nancy Boy"</i>, a song which Brian Molko described as "obscene". The band has sparked controversy at the beginning of their career because Molko wore dresses and make-up in public and talked openly about sex, sexuality and drug use.</p>
        <p>Placebo collaborated with various artists over the years, such as David Bowie, Justin Warfield, Michael Stipe and Alison Mosshart.</p>
        <p>Hewitt left in 2007 due to personal and musical differences and was replaced the following year by Steve Forrest. Placebo released two albums with Forrest, who left in 2015 to pursue his own musical career. As of 2015, Placebo performs as a duo with various live musicians.</p>
    </div>
<hr>
<div class="footer">
    &copy;Все права защищены
</div>
</div>
</body>
</html>